


html, body, input, h1 {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	color: 379683;
}

p{
	margin-left: 2em;
}

/*div#history >p {*/
/*	float:right;*/
/*}*/

h1 {
	margin-left: 1em ;
	margin-top: 1em;
}

select{
	border: 4px solid #05386B;
	border-radius: 5px;
	padding: 5px;
	margin-left: 6em;
}

body {
	background: #5CDB95;
}

form {
	margin: 15px 0;
}

input[type='text']  {
	border: 4px solid #05386B;
	border-radius: 5px;
	padding: 5px;
	width: 70%;
	margin-left: 3em;
}

input#un {
	width:20%;
	margin-left: 9em;
}

select#room {
	margin-left: 7.5em;
}

select#mood {
	margin-left: 12em;
}

button {
	background: #05386B;
	border: none;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	padding: 7px 5px;
	width: auto;
	margin-right: 3em;

}
button:hover {
      background-color:  #eb5424;
      color: #FFF;
    } 


input[type='text']#newroom  {

	width: 20%;

}

#un{
	width: 20%;
	}



label {
    color: #05386B;
    font-weight: bolder;
    margin-left: 2em;
}





form input[type='submit'] {
	background: #05386B;
	border: none;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	padding: 7px 5px;
	width: 19%;
	margin-right: 3em;
	float: right;
	
	
}

form input[type='submit']:hover {
      background-color:  #eb5424;
      color: #FFF;
    }

#history {
	background: #EDF5E1;
	border: 4px solid #05386B;
	height: 550px;
	color: #0d0085;
	margin: 2em;
}

